/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/

.card-style-3 {
    width: 350px;
    border: solid #e3ca3b 16px;
    border-radius: 12px;
    padding: 16px;
    flex-direction: column;
    display: flex;
    margin: 16px;
}
img {
    width: 100%;
    margin-top: 0px;
    justify-content: center;
    border: 4px solid goldenrod;
    background: radial-gradient(at top left, #ffff00, #ddba0d);
}
.pokemon-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.h2 {
    margin: 0px;
}
.health {
    font-size: 18px
}
.details {
    background-color: goldenrod;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin-top: 4px;
    background: linear-gradient(to right, goldenrod, gold, goldenrod);
}
.card-style-3 .attack {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0px;
    margin: 8px 0px;
    border-bottom: 2px solid black;
    flex: 1;
}
.bold {
    font-weight: bold;
    font-size: 18px;
}
.description {
    font-size: 12px;
    margin: 0px 4px;
}
.power {
    font-weight: bold;
    font-size: 24px;
}
.data {
    font-size: 11px;
    font-weight: bold;
    border: 2px solid goldenrod;
    padding: 2px 2px;
}
#pokemon-card-1, #pokemon-card-2 {
   background: linear-gradient(-25deg, lightgreen, forestgreen, #90ee90);
}
#pokemon-card-3 {
    background: linear-gradient(-25deg, orange, orangered, orange);
}
 #pokemon-card-4 {
    background: linear-gradient(-25deg, aqua, skyblue, aqua);
}