* {
    box-sizing: border-box;
}
body {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;  
    font-family: New Amsterdam sans-serif;
}
body h1 {
    margin: 48px auto;
}
.container-1 {
    background-color: gray;
    padding: 24px 48px;
}
.container-2 {
    background-color: rgb(233, 183, 183);
    padding: 24px 48px;
}
.container-3 {
    background-color: gray;
    padding: 24px 48px;
}
a {
    border: 2px solid black;
    padding: 10px 24px;
    background-color: white;
    color: black;
    border-radius: 20px;
    text-decoration: none;
}
body h3 {
    margin: 24px auto;
    font-size: xx-large;
}
body p {
    margin: 50px auto;
    font-size: larger;
    text-align: center;
}
