body {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size:xx-large;
}
.main {
    background-color: rgba(128, 128, 128, 0.562);
    padding: 24px;
}
.watch-1 {
    background-color: black;
    color: white;
    margin: 0px auto;
    padding: 10px;
    border-radius: 20px;
}
body p {
    margin: 40px;
    font-size: x-large;
}
img {
    margin: 5px;
}