* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: monospace,sans-serif;
}
#gallery1-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.gallery1 {
    flex: 250px;
    border: 3px solid black;
    border-radius: 24px;
    text-align: left;
    padding: 5px 15px 24px;
    margin: 24px;
    min-height: 300px;
    transition:
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s
        ;
}
.gallery1 h2 {
    border-bottom: 2px solid black ;
    text-align: center;
}
.gallery1-content {
    margin: 15px;
}
.gallery1-content a {
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    display: block;
    padding: 13px;
    margin-top: 36px;
    text-align: center;
    transition: background-color 0.5s;
}
.gallery1:hover {
    background-color: wheat;
    box-shadow: 4px 3px 6px rgba(255, 0, 0, 0.5);
    transform: translateY(-2px);
}
.gallery1-content:hover a {
    background-color: rgba(255, 0, 0, 0.425);
}
#gallery2-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.gallery2 {
    position: relative;
    width: 250px;
    border: 3px solid rgb(7, 6, 9);
    color: blue;
    margin: 32px;
    padding: 24px;
    border-radius: 10px;
    text-align: center;
}
.gallery2 .gallery2-content {
    position: absolute;
    width: 200px;
    align-content: center;
    background-color: rgb(75, 105, 255);
    border: 3px solid rgb(201, 6, 6);
    border-radius: 12px;
    box-shadow: 4px 4px 4px #0004;
    left: 0px;
    margin: 24px;
    padding: 24px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-24px);
    transition: 
        opacity 1.0s,
        visibility 0.5s,
        transform 1.0s    
        ;
}
.gallery2:hover .gallery2-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
.gallery2 a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 12px;
    margin-top: 24px;
}
#gallery3-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.gallery3 {
    flex: 250px;
    border: 20px groove black;
    border-radius: 24px;
    text-align: left;
    padding: 5px 15px 24px;
    margin: 24px;
    min-height: 300px;
}
#card1-3 h2 {
    color: white;
}
.gallery3 .gallery3-content {
    font-size: x-large;
    font-weight: bolder;
    color: rgb(234, 11, 11);
    padding: 20px;
    margin-top: 50px;
    justify-content: center;
    text-align:start;
    opacity: 0px;
    visibility: hidden;
    transition: 
        opacity 0.5s,
        visibility 0.5s,
        transform 0.5s,
    ;
    transform: translateY(-8px);
}
#card1-3 {
    background-image: url(../images/IMG_0082.jpg);
    background-size: cover;
}
#card2-3 {
    background-image: url(../images/IMG_20230609_200405.jpg);
    background-size: cover;
}
#card3-3 {
    background-image: url(../images/IMG_20240825_192924.jpg);
    background-size: cover;
}
#card4-3 {
    background-image: url(../images/IMG_20230505_092940.jpg);
    background-size: cover;
}
#card5-3 {
    background-image: url(../images/IMG_20230505_092731.jpg);
    background-size: cover;
}
.gallery3:hover .gallery3-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
