/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/
#license {
    display: flex;  
}
h1 {
    color: rgb(51, 51, 168);
    Margin: 5px 0px
}
h4 {
    background: rgb(51, 51, 168) 75px;
    color:white;
    text-align: center;
    margin: 5px 0px;
    width: 75%;
}
#id-and-expiration div {
    color: blue;
    display: inline-block;
}
#id-and-expiration div span {
    color: red;
}
#address {
    display: inline-block;
    width: 75%;
    margin: 10px 0px;
    font-weight: bold;
}
#id-and-expiration {
    width: 100%;
}