@import url("https://use.typekit.net/gyb2ibr.css");
* {
    box-sizing: border-box;
}
body {
    margin: 0px auto;
    font-family: "quinn-display", serif;
    font-weight: 500;
    font-style: normal;
    width: 100%;
    background-image: url(../images/abstract-curve-soft-brown.jpg);
}
#header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9cdb87a;
    margin: 0px auto;
}
#header h3 {
    color: #009438;
    font-size: 24px;
    font-weight: bolder;
}
#header a {
    text-decoration: none;
    color: #3C2415;
    font-weight: bold;
    font-style: normal;
    transition: color 0.5s;
}
#header a:hover {
    color: #be6944;
}
.navbar {
    background: linear-gradient(to bottom, #009445, #c49a6c);
    display: flex;
    align-items: center;
}

.navbar a {
    display: inline-block;
    text-decoration: none;
    color: #3C2415;
    font-size: 24px;
    padding: 32px;
    margin: 0px 24px;
    transition: color 0.7s;
}
.navbar a:hover {
    color: black;
    scale: 1.1;
    border-left: 5px solid #3C2115;
}
.navbar img {
    width: 150px;
}
.navbar #logo {
    margin-right: auto;
    padding-top: 24px;
    padding-bottom: 0px;
    border: none;
}
#hero {
    background-image: url(../images/p-Boathouse-Waterfront-Dining-Tahoe.webp);
    height: 700px;
    text-align: center;
    font-size: xx-large;
    padding: 24px;
    margin-left: 80px;
    width: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;

}
#hero h2 {
    position: absolute;
    top: 30%;
    left: 2%;
    font-size: 62px;
    color: black;
    text-shadow: 6px 6px 4px white;
}
#parallax {
    text-align: center;
    font-size: 52px;
    padding-top: 0px;
    margin: 0px auto;
    text-shadow: 4px 4px 6px #009438;
}
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 300px;
    gap: 24px;
    padding: 24px;
    margin-left: 80px;
    margin-bottom: 24px;
    border: 10px solid #009444;
    width: 90%;
}
.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 
        opacity 0.5s,
        scale 0.5s
        ;
}
.gallery img:hover {
    scale: 1.02;
    opacity: 50%;
}
.images {
    position: relative;
}
.tt {
    font-size: 32px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 20%;
    visibility: hidden;
    opacity: 0%;
    transition:
        opacity 0.5s,
        visibility 0.5s,
        transform 0.5s
        ;
    transform: translateY(-5px);
}
.images:hover .tt {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
.two-columns {
    display: flex;
    height: 75vh;
}
.text-column,
.img-column {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-column {
    color: #009438;
    font-size: 28px;
}
.text-column p {
    color: #3C2415;
}
.text-column ul {
    color: #3C2415;
}
.column-content {
    margin: 48px;
    text-align: center;
    border-top: 3px ridge #3C2415;
    border-bottom: 3px ridge #3C2415; 
}
.column-content ul {
    list-style-type: none;
    text-align: left;
}
.column-content p {
    padding: 48px;
    margin: 0px 24px;
}
.img-column img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#footer {
    background: linear-gradient(to bottom, #009445, #c49a6c);
    color: #3C2415;
    padding: 24px;
    font-size: 24px;
}
#footer-navbar a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-decoration: none;
    color: #3C2415;
    
}
#footer-navbar {
    margin: 24px auto;
    display: flex;
    justify-content: space-between;
    transition: color 0.7s;
}
#footer a:hover {
    color: black;
    scale: 1.03;
    border-bottom: 5px solid #3C2115;
}
#featured-dish {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 50%;
    align-content: center;
    width: 40%;
    font-weight: bold;
    border: 2px solid #3C2115;
    border-radius: 50px;
    background-color: #c49a6cb7;
    margin-left: 30%;
    margin-top: 24px;
    
}
#featured-dish h1 {
    text-align: center;
    font-style: italic;
}
#featured-dish h2 {
    text-align: center;
    margin: 10px auto;
    font-size: 20px;
    color:#009438;
}
#featured-dish h4 {
    text-align: center;
    font-size: 19px;
    margin: 5px;
}
#featured-dish a {
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    background-color: antiquewhite;
    display: inline-block;
    border-radius: 32px;
    width: 50%;
    padding: 15px 24px;
    margin: 15px auto;
    color: #3C2115;
    transition: color 1.0s, background-color 0.5s;
}
#featured-dish a:hover {
    color: #009444;
    background-color: #3c2115fe;
    transform: scale(1.02);
}
#featured-dish img {
    display: inline-block;
    width: 75%;
    border-radius: 24px;
}
#featured-dish span {
    font-weight: lighter;
    color: #3C2115;
} 
.menu-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "card1 card2 card3"
        "card4 card5 card6"
        "card7 card8 card9"
        ; 
    gap: 32px;
    margin: 80px;
}
#card1 {
    grid-area: card1;
}
#card2 {
    grid-area: card2;
}
#card3 {
    grid-area: card3;
}
#card4 {
    grid-area: card4;
}
#card5 {
    grid-area: card5;
}
#card6 {
    grid-area: card6;
}
#card7 {
    grid-area: card7;
}
#card8 {
    grid-area: card8;
}
#card9 {
    grid-area: card9;
}
.menu-cards h2 {
    text-align: center;
}
.cards img {
    align-content: center;
    object-fit: cover;
    max-height: 300px;
    width: 100%;
    padding: 2px;
    margin: 0px auto;
    border: 5px solid #3C2115;
    border-radius: 24px;
    box-shadow: 4px 4px 8px grey;
    transition: 
        box-shadow 0.5s,
        scale 0.5s
        ;
}
.cards img:hover {
    scale: 1.06;
    box-shadow: 4px 4px 20px #009444;
}
#description ul {
    text-align: left;
    list-style: none;
}
#description b {
    font-size: 23px;
    color: #009444;
}
#description li {
    font-size: 18px;
}
#description p {
    align-items: center;
    margin: 32px 42px;
    transition: box-shadow 0.5s;
}
.cards {
    background-color: #c49a6ca0;
    border-radius: 24px;
    padding: 24px;
    margin: 15px 0px;
}
@media screen and (max-width: 950px) and (min-width: 325px) {
   
    #header h3 {
        font-size: 13px;
    }
    #hero {
        margin-left: 40px;
    }
    #hero h2 {
        color: black;
        font-size: 48px;
    }
    #parallax h1 {
        font-size: 42px;
    }
    .navbar #logo {
        margin: 0px auto;
    }
    .navbar {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .navbar a {
        font-size: medium;
        border-bottom: 3px solid #3C2115;
        border-right: none;
    }
    #footer-navbar a {
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        font-size: medium;
    }
    #footer-navbar span {
        font-size: medium;
    }
    .column-content h1 {
        font-size: 32px;
    }
    .column-content p {
        font-size: medium;
        margin: 0px auto;
        padding: 24px;
    }
    .column-content ul {
        font-size: 20px;
        padding: 24px;
        margin: 0px auto;
    }
    .images .tt {
        font-size: small;
    }
    .gallery {
        display: flex;
        flex-wrap: wrap;
        margin: 24px;
        margin-left: 40px;
    }
    .images {
        flex: 31%;
    }
    .menu-cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 24px; 
    }
    #featured-dish {
        margin-left: 5%;
        margin-top: 24px;
        width: 425px;
        align-items: center;
    }
    #featured-dish h1 {
        font-size: 24px;
        margin-top: 24px;
    }
    #featured-dish h2 {
        text-align: center;
        margin: 10px auto;
        font-size: 15px;
    }
    #featured-dish h4 {
        text-align: center;
        margin: 10px auto;
        font-size: 13px;
    }
    #featured-dish a {
        text-align: center;
        text-decoration: none;
        font-size: 10px;
        width: 50%;
        padding: 15px 24px;
        margin: 15px 70px;
    }
    #featured-dish img {
        width: 200px;
        align-items: center;
        margin: 15px 30px;
    }
}
